.scannerwork
dist/
/.angular/cache
dist
node_modules/
*.class
*.py[cod]
*.log
*.jar
pacakge-lock.json
target/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.tiff
*.avi
*.flv
*.mov
*.wmv
.firebase
*-debug.log
.runtimeconfig.json
